<%- include header.ejs %>
<%- include sidebar.ejs %>
<div class="main-content-wrap sidenav-open d-flex flex-column">
        <div class="breadcrumb">
          <h1>Edit List Type</h1>
      </div>
      <div class="separator-breadcrumb border-top"></div>
      <div class="row">
          <div class="col-md-12">
              <div class="card mb-4">
                  <div class="card-body">
                      <form method="post" action="/admin/listTypeEdit"> 
                          <div class="row">
                            <input type="text" class="form-control" name="organisationTypeId" id="organisationTypeId" value="<%= result.organisationTypeId %>" hidden placeholder="Enter  Type Name" required>
                              <div class="col-md-6 form-group mb-3">
                                  <label for="careCenterTypeName">Type Name</label>
                                  <input type="text" class="form-control" name="organisationTypeName" id="organisationTypeName" value="<%= result.organisationTypeName %>" placeholder="Enter  Type Name" required>
                              </div>
                              <div class="col-md-6 form-group mb-3">
                                <label for="careCenterTypeDescription">Type Description</label>
                                <textarea class="form-control" name="organisationTypeDescription" id="organisationTypeDescription" placeholder="Enter Type Description"  rows="4" cols="50"><%= result.organisationTypeDescription %></textarea>
                            </div>
                              <div class="col-md-6 form-group mb-3">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
<%- include footer.ejs %>